@charset "UTF-8";
.modifyPassword .head {
  background: #fff; }
  .modifyPassword .head h3 {
    font-size: 14px;
    font-family: "微软雅黑"; }

.modifyPassword form {
  width: 100%;
  padding-top: 3px; }
  .modifyPassword form p {
    background: #fff;
    width: 100%; }
    .modifyPassword form p label {
      width: 24%;
      padding: 10px 3%;
      font-size: 14px;
      font-family: "微软雅黑";
      color: #000; }
    .modifyPassword form p input {
      width: 65%;
      border: none;
      outline: none;
      margin-top: 10px;
      font-size: 12px;
      font-family: "微软雅黑"; }

.modifyPassword button {
  margin: 25px 3%;
  width: 94%;
  background: #D9374F;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px; }
