@charset "UTF-8";
.myOrder {
  height: 100%;
  overflow: hidden; }
  .myOrder .myOrderHide {
    display: none; }
  .myOrder .head {
    background: #fff; }
    .myOrder .head h3 {
      font-size: 14px;
      font-family: "微软雅黑"; }
  .myOrder .myOrderContent {
    height: 100%;
    width: 100%; }
    .myOrder .myOrderContent .myOrderEmptyPage {
      width: 100%;
      height: -moz-calc(100% - 82px);
      height: -webkit-calc(100% - 82px);
      height: calc(100% - 82px); }
      .myOrder .myOrderContent .myOrderEmptyPage div {
        width: 100%;
        padding-top: -moz-calc(50% - 25px);
        padding-top: -webkit-calc(50% - 25px);
        padding-top: calc(50% - 25px); }
        .myOrder .myOrderContent .myOrderEmptyPage div img {
          height: 50px;
          margin-left: -moz-calc(50% - 25px);
          margin-left: -webkit-calc(50% - 25px);
          margin-left: calc(50% - 25px); }
      .myOrder .myOrderContent .myOrderEmptyPage h2 {
        text-align: center;
        color: #C8C8C8; }
    .myOrder .myOrderContent .myOrderContentTop {
      margin-bottom: 1px; }
      .myOrder .myOrderContent .myOrderContentTop p {
        width: 20%;
        text-align: center;
        font-size: 14px;
        font-family: "微软雅黑";
        color: #000;
        padding: 10px 0;
        background: #fff; }
      .myOrder .myOrderContent .myOrderContentTop .myOrderContentShow {
        color: #CD0011; }
    .myOrder .myOrderContent .myOrderContentBottom {
      width: 100%;
      height: -moz-calc(100% - 81px);
      height: -webkit-calc(100% - 81px);
      height: calc(100% - 81px);
      overflow-y: auto; }
      .myOrder .myOrderContent .myOrderContentBottom .myOrderShow {
        display: block; }
      .myOrder .myOrderContent .myOrderContentBottom .myOrderOff {
        display: none; }
      .myOrder .myOrderContent .myOrderContentBottom .mAll {
        margin-bottom: 10px;
        width: 100%; }
        .myOrder .myOrderContent .myOrderContentBottom .mAll ul {
          margin-bottom: 10px; }
          .myOrder .myOrderContent .myOrderContentBottom .mAll ul li {
            padding: 10px 3%;
            width: 94%;
            background: #fff;
            margin-bottom: 1px; }
          .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPT span {
            width: 60%;
            font-size: 12px;
            text-align: left; }
          .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPT em {
            color: #CD0011;
            font-size: 12px;
            text-align: right; }
          .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC {
            background: #e4e4e4; }
            .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a {
              display: block; }
              .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h1 {
                width: 18%;
                margin-right: 2%; }
                .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h1 img {
                  width: 100%; }
              .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h2 {
                width: 60%;
                font-weight: 100; }
              .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h3 {
                width: 20%;
                font-size: 12px;
                text-align: right;
                padding-top: 2px; }
                .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h3 p {
                  color: #3F3F3F;
                  width: 100%;
                  text-align: right; }
                .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h3 h6 b, .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPC a h3 h6 i {
                  font-size: 12px;
                  color: #000; }
          .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPCC {
            text-align: right; }
            .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPCC span, .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPCC b {
              margin: 0 4px;
              font-size: 12px; }
            .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPCC b {
              color: #CD0011; }
          .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPB {
            height: 39px;
            position: relative; }
            .myOrder .myOrderContent .myOrderContentBottom .mAll ul .mPB a {
              position: absolute;
              border-radius: 4px;
              padding: 5px 14px;
              color: #CD0011;
              border: 1px solid #CD0011;
              right: 3%; }
      .myOrder .myOrderContent .myOrderContentBottom .mPay {
        margin-bottom: 10px;
        width: 100%; }
        .myOrder .myOrderContent .myOrderContentBottom .mPay ul {
          margin-bottom: 10px; }
          .myOrder .myOrderContent .myOrderContentBottom .mPay ul li {
            padding: 10px 3%;
            width: 94%;
            background: #fff;
            margin-bottom: 1px;
            text-align: right; }
          .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPT span {
            width: 60%;
            font-size: 12px;
            text-align: left; }
          .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPT em {
            color: #CD0011;
            font-size: 12px;
            text-align: right; }
          .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC {
            background: #e4e4e4; }
            .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a {
              display: block; }
              .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h1 {
                width: 18%;
                margin-right: 2%; }
                .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h1 img {
                  width: 100%; }
              .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h2 {
                width: 60%;
                font-weight: 100; }
              .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h3 {
                width: 20%;
                font-size: 12px;
                text-align: right;
                padding-top: 2px; }
                .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h3 p {
                  color: #3F3F3F;
                  width: 100%;
                  text-align: right; }
                .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h3 h6 b, .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPC a h3 h6 i {
                  font-size: 12px;
                  color: #000; }
          .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPCC {
            text-align: right; }
            .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPCC span, .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPCC b {
              margin: 0 4px;
              font-size: 12px; }
            .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPCC b {
              color: #CD0011; }
          .myOrder .myOrderContent .myOrderContentBottom .mPay ul .mPB a {
            border-radius: 4px;
            padding: 5px 14px;
            color: #CD0011;
            border: 1px solid #CD0011;
            margin-left: 70%; }
      .myOrder .myOrderContent .myOrderContentBottom .mFahuo {
        margin-bottom: 10px;
        width: 100%; }
        .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul {
          margin-bottom: 10px; }
          .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul li {
            padding: 10px 3%;
            width: 94%;
            background: #fff;
            margin-bottom: 1px; }
          .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPT span {
            width: 60%;
            font-size: 12px;
            text-align: left; }
          .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPT em {
            color: #CD0011;
            font-size: 12px;
            text-align: right; }
          .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC {
            background: #e4e4e4; }
            .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a {
              display: block; }
              .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h1 {
                width: 18%;
                margin-right: 2%; }
                .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h1 img {
                  width: 100%; }
              .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h2 {
                width: 60%;
                font-weight: 100; }
              .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h3 {
                width: 20%;
                font-size: 12px;
                text-align: right;
                padding-top: 2px; }
                .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h3 p {
                  color: #3F3F3F;
                  width: 100%;
                  text-align: right; }
                .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h3 h6 b, .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPC a h3 h6 i {
                  font-size: 12px;
                  color: #000; }
          .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPCC {
            text-align: right; }
            .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPCC span, .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPCC b {
              margin: 0 4px;
              font-size: 12px; }
            .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPCC b {
              color: #CD0011; }
          .myOrder .myOrderContent .myOrderContentBottom .mFahuo ul .mPB a {
            border-radius: 4px;
            padding: 5px 14px;
            color: #CD0011;
            border: 1px solid #CD0011;
            margin-left: 70%; }
      .myOrder .myOrderContent .myOrderContentBottom .mPingjia {
        margin-bottom: 10px;
        width: 100%; }
        .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul {
          margin-bottom: 10px; }
          .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul li {
            padding: 10px 3%;
            width: 94%;
            background: #fff;
            margin-bottom: 1px; }
          .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPT span {
            width: 60%;
            font-size: 12px;
            text-align: left; }
          .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPT em {
            color: #CD0011;
            font-size: 12px;
            text-align: right; }
          .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC {
            background: #e4e4e4; }
            .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a {
              display: block; }
              .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h1 {
                width: 18%;
                margin-right: 2%; }
                .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h1 img {
                  width: 100%; }
              .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h2 {
                width: 60%;
                font-weight: 100; }
              .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h3 {
                width: 20%;
                font-size: 12px;
                text-align: right;
                padding-top: 2px; }
                .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h3 p {
                  color: #3F3F3F;
                  width: 100%;
                  text-align: right; }
                .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h3 h6 b, .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPC a h3 h6 i {
                  font-size: 12px;
                  color: #000; }
          .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPCC {
            text-align: right; }
            .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPCC span, .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPCC b {
              margin: 0 4px;
              font-size: 12px; }
            .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPCC b {
              color: #CD0011; }
          .myOrder .myOrderContent .myOrderContentBottom .mPingjia ul .mPB a {
            border-radius: 4px;
            padding: 5px 14px;
            color: #CD0011;
            border: 1px solid #CD0011;
            margin-left: 70%; }
      .myOrder .myOrderContent .myOrderContentBottom .mShouhuo {
        margin-bottom: 10px;
        width: 100%; }
        .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul {
          margin-bottom: 10px; }
          .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul li {
            padding: 10px 3%;
            width: 94%;
            background: #fff;
            margin-bottom: 1px; }
          .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPT span {
            width: 60%;
            font-size: 12px;
            text-align: left; }
          .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPT em {
            color: #CD0011;
            font-size: 12px;
            text-align: right; }
          .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC {
            background: #e4e4e4; }
            .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a {
              display: block; }
              .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h1 {
                width: 18%;
                margin-right: 2%; }
                .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h1 img {
                  width: 100%; }
              .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h2 {
                width: 60%;
                font-weight: 100; }
              .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h3 {
                width: 20%;
                font-size: 12px;
                text-align: right;
                padding-top: 2px; }
                .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h3 p {
                  color: #3F3F3F;
                  width: 100%;
                  text-align: right; }
                .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h3 h6 b, .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPC a h3 h6 i {
                  font-size: 12px;
                  color: #000; }
          .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPCC {
            text-align: right; }
            .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPCC span, .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPCC b {
              margin: 0 4px;
              font-size: 12px; }
            .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPCC em, .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPCC b {
              color: #CD0011; }
          .myOrder .myOrderContent .myOrderContentBottom .mShouhuo ul .mPB a {
            border-radius: 4px;
            padding: 5px 14px;
            color: #CD0011;
            border: 1px solid #CD0011;
            margin-left: 70%; }
      .myOrder .myOrderContent .myOrderContentBottom .wait {
        display: none;
        width: 100%;
        text-align: center; }
        .myOrder .myOrderContent .myOrderContentBottom .wait img {
          width: 20px;
          height: 20px; }
