.goodsCollection{
    height:100%;
    .head{
        background:#fff;
        h3{
            font-size: 14px;
            font-family: "微软雅黑";
        }
    }
    .head{
        background: #fff;
        h4{
            text-align: center;
            font-size: 14px;
            font-family: "微软雅黑";
            color:#636363;
            line-height: 40px;
            width:20%;
            
        }
    }
    ul{
        width:100%;
        height: -moz-calc(100% - 53px); 
        height: -webkit-calc(100% - 53px);
        height: calc(100% - 53px); 
        overflow-y: scroll;
        padding-top:10px;
       li{ 
           
            border-bottom: 1px solid #e4e4e4; 
            width:94%;
            padding:6px 3%; 
            background: #fff;
            .sC{
                width:100%;           
                div:nth-child(1){
                    margin-right:8px;
                    img{
                       height:60px;
                    }
                }; 
                div:nth-child(2){
                    width: -moz-calc(100% - 94px); 
                    width: -webkit-calc(100% - 94px);
                    width: calc(100% - 94px); 
                    h2{
                        line-height: 16px;
                        font-family: "微软雅黑";
                        margin-bottom:10px;color:#000;
                        font-weight: 100;
                    };
                    h3{
                        color:#adadad;
                    };
                    h2,h3{
                        font-size: 14px;
                        font-family: "微软雅黑";
                        
                        i,b,strong{
                            line-height: 16px;
                            font-family: "微软雅黑";
                            font-style:normal;
                        }
                    }
                }; 
                div:nth-child(3){
                    line-height: 65px;
                    margin-right:6px;
                    height:65px;
                    a{
                        width:100%;
                        display: block;
                        height:20px;
                        img{
                            height:20px!important;
                        }
                    }
                }
            } 
            h5{
                width:15%;
                font:14px/61px "微软雅黑";
                color:#fff;
                background: #d9374f;
                text-align: center;
            }
       };
//     li:last-child{
//         border-bottom:none;
//         text-align:center;
//          line-height: 16px;
//          font-family: "微软雅黑";
//          color:#000;
//          line-height: 30px;
//          font-size: 14px;
//          background:#e4e4e4;
//     }
    }
    
}