<div id="cart" style="-webkit-overflow-scrolling:touch;overflow:auto!important;">
	<div class="head clearfix">
		<a class="l" href="pages/detail.html"></a>
		<h3 class="pageTitle l cartT">购物车</h3>
		<div class="editor l"><i>编辑</i><b>完成</b></div>
	</div>
	<div class="cartList" style="display:block;">
		<dl>
			
		</dl>
		<div class="settlement clearfix">
			<div class="selectWrapper l">
				<input type="checkbox" class="selectAll"/>
			</div>
			<div class="selectLabel l">全选</div>
			<div class="money l">
				<p class="pay">合计：¥<i>0.00</i></p>
				<div class="total over">
					<span class="sum">总额：¥<i>0.00</i></span>
					<span class="disMoney">优惠：¥<i>0.00</i></span>
				</div>
			</div>
			<div class="checkout l">
				结算(<i>0</i>)
			</div>
			<div class="delete r">删除商品</div>
			<div class="collection r">加入收藏</div>
		</div>
	</div>
	<div class="cartEmpty" style="display:none;">
		<div class="goshopping">
			<ul class="kongWrapper">
				<li><img src="img/wdsc_gwc.png" alt="" /></li>
				<li><p>购物车空空如也</p></li>
				<li><a href="#home">去逛逛</a></li>
			</ul>
			<div class="kongBottom borD">
				<div class="solide borD"></div>
				<div class="centerWrapper">
					<img src="img/aixin.png" alt="" class="pl_3"/>
					<span>你可能喜欢</span>
				</div>
			</div>
		</div>
		<ul class="twoColumn clearfix">
			
		</ul>
	</div>
</div>