<div id="classify" style="-webkit-overflow-scrolling:touch;overflow:auto!important;">
	<header class="clearfix">
		<a class="l search" href="pages/search.html">
			<span class="iconfont icon-sou"></span>
			<input type="text" placeholder="茅台"/>
		</a>
	</header>
	<div class="main clearfix">
		<ul class="menu current l">
			<li class="selected">白酒</li>
			<li>葡萄酒</li>
			<li>洋酒</li>
			<li>黄/养/啤</li>
			<li>酒具周边</li>
		</ul>
		<div class="c-content l">
			<dl class="liquor">
				<dt><a href="javascript:;"><img src="img/banner01.jpg" alt="" /></a></dt>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">品牌</div>
						<div class="c-more r" state='0'>查看更多<i class="triangle">▼</i></div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">香型</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">商品产地</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">价格</div>
	
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
			</dl>
			<dl class="wine">
				<dt><a href="JavaScript:;"><img src="img/banner01.jpg" alt="" /></a></dt>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">品牌</div>
						<div class="c-more r" state='0'>查看更多<i class="triangle">▼</i></div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">产国</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">品种</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">类型</div>
	
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">价格</div>
	
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
			</dl>
			<dl class="foreignWine">
				<dt><a href="javascript:;"><img src="img/banner01.jpg" alt="" /></a></dt>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">品牌</div>
						<div class="c-more r" state='0'>查看更多<i class="triangle">▼</i></div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">商品类型</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">价格区间</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				
			</dl>
			<dl class="hyp">
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">黄酒品牌</div>
						<div class="c-more r" state='0'>查看更多<i class="triangle">▼</i></div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">养生酒品牌</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				<dd>
					<div class="c-title clearfix">
						<div class="c-name l">啤酒品牌</div>
					</div>
					<ul class="clearfix">
						
					</ul>
				</dd>
				
			</dl>
			<dl class="drinkingVessel">
				<dd>
					<ul class="clearfix">
						
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</div>
