<div id="home">
	<header class="clearfix">
		<a class="l search" href="pages/search.html">
			<span class="iconfont icon-sou"></span>
			<input type="text" placeholder="茅台"/>
		</a>
		<a class="iconfont icon-iconfontzhizuobiaozhun17 r news" href="pages/news.html"></a>
	</header>
	<div class="banner swiper-container">
		<ul class="swiper-wrapper">
		</ul>
		<div class="swiper-pagination"></div>
	</div>
	<div class="modules">
		<ul class="clearfix">
		</ul>
		<a href="javascript:;" class="temporary"></a>
	</div>
	<div class="SecKill">
		<div class="title borD">
			<div class="topic l">手机秒杀</div>
			<div class="t-info l">距结束：</div>
			<div class="countDown l">00:00:00</div>
			<a href="pages/secKill.html" class="more r">更多 ></a>
		</div>
		<div class="slideArea">
			<ul class="clearfix">
			</ul>
		</div>
	</div>
	<div class="floorArea">
		
	</div>
	<div class="floor5">
		<div class="f-title borD">
			
		</div>
		<ul class="twoColumn clearfix">
			
		</ul>
	</div>
</div>
