<div id="myself" style="-webkit-overflow-scrolling:touch;overflow:auto!important;">
	<div class="head clearfix">
		<a class="l iconfont icon-shezhi" href="pages/mySettings.html"></a>
		<h3 class="pageTitle l">我的信息</h3>
		<a class="editor l iconfont icon-iconfontzhizuobiaozhun17" href="pages/news.html"></a>
	</div>
	<div class="main">
		<div class="myAccount clearfix">
			<div class="portrait l"><img src="img/touxiang.jpg" alt="" /></div>
			<a class="personalInfo l" href="pages/personalCenter.html">
				<p class="nickname over">昵称：<i></i></p>
				<p class="level">会员称号：<i></i></p>
			</a>
			<a class="r administration" href="pages/personalCenter.html">
				<span>账户管理</span>
				 <i class="iconfont icon-gengduo"></i>
				 
			</a>
		</div>
		<div class="loginPic">
			<a href='pages/login.html' class="logWrap">
				<img src="img/nav_wode_s.png" alt="" />
				<p>登录/注册</p>
			</a>
		</div>
		<div class="record clearfix">
			<a class="l collect" href="pages/goodsCollection.html">
				<p class="colNum">0</p>
				<p class="colLabel">商品收藏</p>
			</a>
			<a class="l footprint" href="pages/browserRecord.html">
				<p class="fooNum">0</p>
				<p class="fooLabel">浏览足迹</p>
			</a>
		</div>
		<div class="myOrder">
			<div class="topTitle clearfix">
				<div class="tTabel l">
					我的订单
				</div>
				<a class="tSeeMore r" href="pages/myOrder.html?0">
					查看全部订单 <i class="iconfont icon-gengduo"></i>
				</a>
			</div>
			<ul class="borD clearfix">
				<li>
					<a href="pages/myOrder.html?1">
						<span style='display: none;'>
							
						</span>
						<img src="img/wd_01dfk@2x.png" alt="" />
						<p>待付款</p>
					</a>
				</li>
				<li>
					<a href="pages/myOrder.html?2">
						<span style='display: none;'>
							
						</span>
						<img src="img/wd_02dfh@2x.png" />
						<p>待发货</p>
					</a>
				</li>
				<li>
					<a href="pages/myOrder.html?3">
						<span style='display: none;'>
							
						</span>
						<img src="img/wd_03dsh@2x.png" alt="" />
						<p>待收货</p>
					</a>
				</li>
				<li>
					<a href="pages/myOrder.html?4">
						<span style='display: none;'>
							
						</span>
						<img src="img/wd_04dpj.png" alt="" />
						<p>待评价</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="interval"></div>
		<div class="myAssets">
			<div class="topTitle clearfix">
				<div class="tTabel l">
					我的资产
				</div>
				<a class="tSeeMore r" href="pages/myAssist.html">
					查看明细 <i class="iconfont icon-gengduo"></i>
				</a>
			</div>
			<ul class="borD clearfix">
				<li>
					<a href="pages/accountBalance.html">
						<p class="balance">0.00</p>
						<p>账户余额</p>
					</a>
				</li>
				<li>
					<a href="pages/coupon.html">
						<p class="Coupon">0</p>
						<p>优惠券</p>
					</a>
				</li>
				<li>
					<a href="pages/integral.html">
						<p class="integral">0</p>
						<p>积分</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="interval"></div>
		<ul class="otherFn">
			<li>
				<a href="pages/mySale.html" class="clearfix">
					<p class="l">我的售后</p>
					<p class="r rMore iconfont icon-gengduo"></p>
				</a>
			</li>
			<li>
				<a href="pages/feedback.html" class="clearfix">
					<p class="l">意见反馈</p>
					<p class="r rMore iconfont icon-gengduo"></p>
				</a>
			</li>
			<li>
				<a href="tel:400-722-1919" class="clearfix">
					<p class="l">客服热线</p>
					<p class="r rMore iconfont icon-gengduo"></p>
					<p class="tel r">400-722-1919</p>
				</a>
			</li>
		</ul>
		<div class="interval"></div>
	</div>
</div>